- @clients.each do |client|
  %tr
    %td
      = client.name
    %td
      = client.email
    %td
      = client.business
    %td
      = client.phone
    %td
      = client&.economic_sector&.name
    %td
      = link_to edit_client_path(client) do
        %button.btn.btn-primary.btn-sm Editar
    %td
      = link_to delete_client_path(client), method: :delete, data: { confirm: '¿Estás seguro?' } do
        %button.btn.btn-danger.btn-sm Eliminar
