!!!
%html
  = render 'partials/head'
  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      %header.main-header
        = link_to root_path, class: 'logo' do
          %span.logo-mini
            %b T
            P
          %span.logo-lg
            %b Testing
            Project

        %nav.navbar.navbar-static-top

      %aside.main-sidebar
        %section.sidebar
          %ul.sidebar-menu{ 'data-widget': 'tree' }
            %li.treeview
              %a{ href: '#' }
                %i.fa.fa-dashboard
                %span Sectores Económicos
                %span.pull-right-container
                  %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  = link_to new_sector_path do
                    %i.fa.fa-circle-o
                    Registrar
                %li
                  = link_to listing_sectors_path do
                    %i.fa.fa-circle-o
                    Consultar

            %li.treeview
              %a{ href: '#' }
                %i.fa.fa-dashboard
                %span Clientes
                %span.pull-right-container
                  %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  = link_to new_client_path do
                    %i.fa.fa-circle-o
                    Registrar
                %li
                  = link_to listing_clients_path do
                    %i.fa.fa-circle-o
                    Consultar

            %li.treeview
              %a{ href: '#' }
                %i.fa.fa-dashboard
                %span Venta
                %span.pull-right-container
                  %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  = link_to listing_sales_path do
                    %i.fa.fa-circle-o
                    Consultar
                %li
                  = link_to new_sale_path do
                    %i.fa.fa-circle-o
                    Registrar

      .content-wrapper
        %section.content
          = yield
